body{
    background: rgb(138,165,166);
    background: linear-gradient(90deg, rgba(138,165,166,1) 13%, rgba(255,255,255,1) 99%);
    font-size: 12;
    font-family: arial;
    color:black ;
}

h1{
    font-size: 30pt;
}

h2{
    font-size: 20pt;
}

h1,h2,h3,h4,p,ul,li,ol,a{
    text-align: center;

}

h1,h2,h3,h4,p,ul,li,ol{
    color: black;
}

a{
    color: blue;
    text-decoration:none
}

.bem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ima{
    height: 200px;
    width: 250px;
    padding: 15px;
}

.cbum{
    text-align: center;
    color: blue;
}

